<!DOCTYPE html>
<html>
<head>
    <title>Wachtwoord veranderen</title>
</head>
<body style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; background-color: #f2f2f2;">
    <div style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: #ffffff; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
        <div style="display: block; margin-bottom: 20px; text-align: center;">
            <h1><a style="text-decoration: none; color: #673AB7;" href="https://wecoders.nl" title="WeCoders.nl">CRM Application</a></h1>
        </div>
        <div style="margin-bottom: 20px; text-align:justify;">
            <h2>Uw wachtwoord resetcode</h2>
            <p>Beste {FullName},</p>
            <p>Gebruik de volgende 4-cijferige code om uw wachtwoord opnieuw in te stellen:</p>
            <span style="display: block; text-align: center; font-size: 24px; font-weight: bold; margin-bottom: 20px;">{Code}</span>
        </div>
        <div style="margin-top: 20px;">
            <p>Als u geen wachtwoordreset heeft aangevraagd, negeer deze e-mail dan.</p>
            <p>Met vriendelijke groet,<br />CRM Application</p>
        </div>
    </div>
</body>
</html>