@page "/"

@inject HttpClient Http
@inject IStringLocalizer<Resource> Localizer

<PageTitle>Home</PageTitle>
<MudContainer>
    <h1>@Localizer["WelcomeMessage"]</h1>

    <p>@apiResponse</p>
</MudContainer>
@code {
    private string? apiResponse;

    protected override async Task OnInitializedAsync()
    {
        await FetchData();
    }

    private async Task FetchData()
    {
        try
        {
            apiResponse = await Http.GetStringAsync("PublicArea/Public");
        }
        catch (Exception ex)
        {
            apiResponse = $"Error: {ex.Message}";
        }
    }
}